{% extends 'base.html' %}


{% block title %}
Receipts
{% endblock title %}



{% block content %}
<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td>{{ receipt.name }}</td>
                <td>{{ receipt.receipts.all|length }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}
